{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'main.js' %}" defer></script>
  </head>
  <body>
    <!-- Nav container -->
    <nav class="navbar">
      <!-- Logo with text -->
      <div class="navbar__logo">
        <!--<i class="fab fa-accusoft"></i>-->
        <img src="{% static 'img/logo.png'%}" alt="logo" style="width:65px; display: block;">
        <a href="#"  style="font-size: 30px; padding: 15px 15px">Quiz Test

        </a>
      </div>
      <!-- Menu -->
      <ul class="navbar__menu">
        <li><a href="">Esasy sahypa</a></li>
        <li><a href="">Test goshmak</a></li>
        <li><a href="">Uytgetmek</a></li>
        <li><a href="">Testleri pozmak</a></li>
      </ul>
      <!-- Icons -->
     
      <!-- Toggle button -->
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
    <div class="container">
		
      <div class="create-content">
      
          
          <h3 class="title">Testin maglumatlaryny girizin</h3>
          <div class="input_create">
            <p style="margin-bottom: 5px;">Fakulteti saylan</p> 
            <select class="input" id="fakulted" name="fakulted" required>
              {% for i in form %}
              <option value="{{i.Fakultedin_ady}}">{{i.Fakultedin_ady}}</option>
              {% endfor %}
            </select>
          </div>
            <p style="margin-bottom: 5px;">Sapagyn adyny girizin</p>
            <select class="input" id="sapak_ady" name="sapak_ady" required>
              {% for i in form %}
              <option value="{{i.Sapagyn_ady}}">{{i.Sapagyn_ady}}</option>
              {% endfor %}
            </select>
            <div class="input_create">
              <p style="margin-bottom: 5px;">Testin adyny girizin</p> 
              <select class="input" id="fakulted" name="fakulted" required>
                {% for i in form %}
                <option value="{{i.Fakultedin_ady}}">{{i.Testin_ady}}</option>
                {% endfor %}
              </select>
            </div>
          <div class="input_create">
            <p style="margin-bottom: 5px;">Topary saylan</p>
            <select class="input" id="topor" name="topor" required>
              {% for i in form %}
              <option value="{{i.Topar}}">{{i.Topar}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="input_create">
            <p style="margin-bottom: 5px;">Sorag sanyny girizin</p>
            {% for i in form %}
            {{ i.Wagyt_limidi }}
            {% endfor %}
          </div>
          <div class="input_create">
            <p style="margin-bottom: 5px;">Wagt limitini girizin</p>
            <input type="number" class="input" id="wagt" name="wagt" placeholder="Wagt limitini girizin" required>
          </div>
                
          <div class="in_btn" style="align-items: flex-end;">
                <input type="submit" class="btn" value="Duzmek">
          </div>
              
          </div>
  </body>
</html>