<form method="POST">
    {% csrf_token %}
    
<div class="input-div one">
    <div class="i">
            <i class="fas fa-user"></i>
    </div>
    <div class="div">
  
 
            <input type="text" id="username" name="u1" required value="{{duzedisler.Sapagyn_ady}}">
            <input type="text" id="username" name="u2" required value="{{duzedisler.Testin_ady}}">
            <input type="text" id="username" name="u3" required value="{{duzedisler.Topar}}">
            <input type="text" id="username" name="u4" required value="{{duzedisler.Sorag_sany}}">
            <input type="text" id="username" name="u5" required value="{{duzedisler.Wagyt_limidi}}">
    </div>
 </div>
 
<button type="submit"><a href="{% url 'uytget-page' duzedisler.id %}">Yatda sakla</a></button>
<a href="{% url 'uytget2-page' duzedisler.id  %}">Testi duzet</a>

</form>