{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
</head>
    <script src="{% static 'main.js' %}" defer></script>
  </head>
  <body>
<nav class="navbar">
    <div class="navbar__logo">
      <img src="{% static 'img/logo.png' %}" alt="logo" style="width:65px; display: block;">
      <a href="#"  style="font-size: 30px; padding: 15px 15px">Quiz Test</a>
    </div>
 
    <ul class="navbar__menu">
      <li><a href="{% url 'mugallym-page' user.id %}">Esasy sahypa</a></li>
      <li><a href="{% url 'maglumat-page' user.id %}">Soraglar maglumaty</a></li>
      <li><a href="{% url 'testmaglumatlary-page' user.id %}">Test goshmak</a></li>
      <li><a href="{% url 'logout-page'%}">LOGOUT</a></li>
      <li>
     
      </li>

  
   
      </form>
    </ul>
  </nav>
 