{% load static %}
{% if request.user.is_authenticated %}
    {% include 'header.html' %}
  <body>
    <div class="container" style="height: auto;">
      <div class="login-content">
        <div class="main" style="height: auto;width: 900px;">
          <h2 class="title" style="margin-bottom: 40px;">MUGALLYM BOLUMINE HOS GELDINIZ</h2>
          <table>
            <tr>
              <th>T.B</th>
              <th>DERSIN ADY</th>
              <th>SORAG SANY</th>
              <th>DOGRY JOGAPLARYN SANY</th>
              <th>YALNYS JOGAPLARYN SANY</th>
              <th>DOGRY JOGAPLARYN GOTERIMI</th>
            </tr>
            <tr class="extra">
              <th>1</th>
              <th>PROGRAMMING</th>
              <th>8</th>
              <th>7</th>
              <th>1</th>
              <th>100%</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
{% else %}
{% include 'goLogin.html' %}
{% endif %}