   {% load static %}
   {% if request.user.is_authenticated %}
    {% include 'header.html' %}
    <body>
    <div class="container" style="height: auto;">
      <div class="login-content">
        <div class="main" style="height: auto;width: 900px;">
          <h2 class="title">Testin maglumatlaryny uytgetmek</h2>

      <div class="input_create">
        <p>SORAGYN TEKSTI</p>
        <p style="text-align: left;text-transform: none;">sorag No1</p>
        <input type="text" class="input">
      </div>
      <div class="input_create">
        <input type="text" class="input" placeholder="a.dogry jogap">
      </div>
      <div class="input_create">
        <input type="text" class="input" placeholder="b.yalnys jogap">
      </div>
      <div class="input_create">
        <input type="text" class="input" placeholder="c.yalnys jogap">
      </div>
      <div class="in_btn">
      <a href="{% url 'mugallym-page' %}"><button class="btn">uytgetmek</button></a>
      </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% else%}
{% include 'goLogin.html' %}
{% endif %}