{% load static %}
{% if request.user.is_authenticated %}
   {% include 'header.html' %}
  
   <body>
    <form method="POST">
      {% csrf_token %}
    <div class="container" style="height: auto;">
      <div class="login-content">
        <div class="main" style="height: auto;width: 900px;">
          <h2 class="title" style="margin-bottom: 40px;">MUGALLYM BOLUMINE HOS GELDINIZ</h2>
          {% for A in Maglumatlar %}
          <table>
            <tr>
              <th>T.B</th>
              <th>DERSIN ADY</th>
              <th>TESTIN ADY</th>
              <th>TOPAR NOMERI</th>
              <th>WAGT MOCBERI</th>
            </tr>
            <tr class="extra">
              <th>{{A.id}}</th>
              <th>{{A.Sapagyn_ady}}</th>
              <th>{{A.Testin_ady}}</th>
              <th>{{A.Topar}}</th>
              <th>{{A.Wagyt_limidi}} MIN</th>
             <a href="{% url 'tetpozmak-page' A.id%}"><button 
              style="border:none; 
              height: 30px;
              padding: 5px; 
              background: rgba(174, 0, 0, 0.782);
              border-radius: 5px;
              width: 120px;
              font-size: 0.9em;
              text-transform: uppercase;
              cursor: pointer;">POZMAK
              </button></a>
              </th>
            </tr>
          </table>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
  </body>
</html>
{% else %}
{% include 'goLogin.html' %}
{% endif %}